<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssd.delivery.dao.mybatis.mapper.DeliveryMapper">
  <cache />

   <insert id="insert" parameterType="DeliveryDTO">
    INSERT INTO DELIVERY
      (ADDRESS1, ADDRESS2, USERNAME, SERVICEDATE, FILENAME, PRICE, WIDTH, LENGTH, HEIGHT, WEIGHT, LOADAGE)
    VALUES
      (#{address1}, #{address2}, #{username}, #{serviceDate}, #{filename}, #{price}, #{width}, #{depth}, #{weight}, #{loadage}, #{deliveryId})
	</insert>

	<update id="update" parameterType="DeliveryDTO">
    UPDATE DELIVERY SET 
	   ADDRESS1  = #{address1}, 
	   ADDRESS2 = #{address2}, 
	   USERNAME = #{username}, 
	   SERVICEDATE = #{serviceDate},
	   FILENAME = #{filename}, 
	   PRICE = #{price}, 
	   WIDTH = #{width}, 
	   LENGTH = #{depth}, 
	   HEIGHT = #{height}, 
	   WEIGHT = #{weight}, 
	   LOADAGE = #{loadage} 
    WHERE DELIVERYID= #{deliveryId}
	</update>

	<delete id="delete" parameterType="int">
	DELETE FROM DELIVERY 
	WHERE DELIVERYID = #{deliveryId}
	</delete>
	
	<select id="getDeliveryById" resultType="DeliveryDTO">
    SELECT * 
    FROM DELIVERY 
    WHERE DELIVERYID = #{deliveryId}
	</select>
	
	<select id="getDeliveryByUsername" resultType="DeliveryDTO">
    SELECT * 
    FROM DELIVERY 
    WHERE USERNAME = #{username}
	</select>
  
	<select id="getDeliveryList" resultType="DeliveryDTO">
    SELECT * FROM DELIVERY
	</select>
  
</mapper>